@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url("./styles/variables.css");
@import url('./styles/header.css');
@import url("./styles/home-banner.css");



* {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-clr);
}

img {
    max-width: 100%;
}