.home-banner {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image scales and covers the banner */
}

.home-banner h2 {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  margin: 0;
}
