.about section {
    position: relative;
}

.about article {
    padding: 1em;
    color: var(--footer-bg);
    text-align: center;
}

.about h1 {
    text-align: center;
    color: var(--footer-bg);
}

.about-container {
    padding: var(--space-size);
}



.about section::after {
    background: #fcfcfc;
    background: linear-gradient(180deg, hsla(0, 0%, 99%, 0), #000000ab);
    content: "";
    height: 99%;
    content: "";
    mix-blend-mode: darken;
    position: absolute;
    width: 100%;
    inset: 0;

}