.related-container {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-x: auto;
}


.related-container a {
    max-width: 412px;
    min-width: 325px;
    width: 100%;
    display: block;
    aspect-ratio: 9 / 6 auto;
}

.related-section h2 {
    color: var(--footer-bg);
}